html {
  font-size: 16px;
  font-family: sans-serif;
  color: #505050;
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Ubuntu";
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  line-height: 1.5rem;
}

a {
  color: blue;
}

/*header*/

header h3 span {
  font-weight: 400;
  color: #B0B0B0;
}

header {
  display: flex;
  padding: 1rem 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 2rem;
}

.logo h3 {
  line-height: 2rem;
  font-size: 1.5rem;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  padding-left: 1rem;
}

#icons {
  display: none;
}

@media only screen and (max-width: 700px) {
  .logo h3 {
    display: none;
  }

  #navigation {
    display: none;
  }

  .logo img {
    display: none;
  }

  #icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

/*main*/

.main {
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.main .img {
  width: 60%;
}

.img1 {
  padding: 2rem 1.5rem;
}

.img img {
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 25%;
}

.title h1 {
  padding-bottom: 0.75rem;
}

.title h4 {
  padding-bottom: 1.5rem;
}

.title button {
  background-color: #505050;
  color: white;
  border: 0px;
  padding: .5rem;
}

@media only screen and (max-width: 850px) {
  .main {
    flex-direction: column;
  }

  .main .img {
    width: 100%;
  }

  .img1 {
    padding: 0px;
  }

  .title {
    width: auto;
    margin: 2rem 1rem;
  }

  .title h1 {
    padding-bottom: 2rem;
  }
}

/*practicing*/

.practicing {
  display: flex;
  align-items: flex-start;
}

.practicing .one {
  width: 60%;
  border-right: 1px solid lightgrey;
}

.one-in {
  padding: 2rem 1.5rem;
}

.one-in .img {
  padding-bottom: 2rem;
}

.text h2 {
  padding-bottom: 1.5rem;
}

.text p {
  padding-bottom: 2rem;
}

.two {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
}

.select {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  transition: background-color 400ms ease-out;
}

.image {
  width: 35%;
  height: auto;
}

.image1 {
  padding: 1rem;
}

.image img {
  width: 100%;
}

.texto {
  width: 65%;
  padding-right: 1.5rem;
}

.texto h4 {
  padding-bottom: .5rem;
}

.texto p {
  padding-bottom: .5rem;
}

.select:hover {
  background-color: lightgrey;
}

.second {
  display: none;
}

@media only screen and (max-width: 850px) {
  .one {
    display: none;
  }

  .two {
    width: 100%;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .select {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4rem;
    border: 0px;
  }

  .last {
    padding-bottom: 2rem;
  }

  .image {
    width: auto;
  }

  .image img {
    width: 100%;
  }

  .first {
    display: none;
  }

  .second {
    display: block;
  }

  .texto {
    width: auto;
    padding-right: 1rem;
    padding-left: 2rem;
  }

  .select:hover {
    background-color: white;
  }
}

/*learning*/

.learning h2 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.learning {
  background-color: gainsboro;
  padding-bottom: 1rem;
}

.learn {
  display: flex;
  justify-content: center;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.box {
  margin: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box .img {
  max-width: 100%;
}

.content  {
  padding: 1rem;
}

.content p {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

@media only screen and (max-width: 700px) {
  .box img {
    display: none;
  }

  .content p {
    display: none;
  }

  .learn {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
  }

  .box {
    margin: .25rem;
  }

  .content {
    padding-bottom: 1.5rem;
    background-color: lightgrey;
  }

  .learning {
    padding-bottom: 2rem;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
}

/*thesis*/

#thesis {
  text-align: center;
  padding: 2rem;
}

.thesis {
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgrey;
}

.left {
  width: 60%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.video {
  max-width: 100%;
}

.video video {
  width: 100%;
}

.left h4 {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.selection {
  display: flex;
  align-items: center;
  transition: background-color 400ms ease-out;
}

.selection .img {
  width: 35%;
  height: auto;
}

.texts {
  width: 65%;
  padding-right: 1.5rem;
}

.img2 {
  padding: 1rem;
}

.texts h4 {
  padding-bottom: .5rem;
}

.selection:hover {
  background-color: lightgrey;
}

#thesis span {
  display: none;
}

@media only screen and (max-width: 850px) {
  .left h4 {
    display: none;
  }

  .left p {
    display: none;
  }

  .right {
    display: none;
  }

  #thesis {
    padding-bottom: 1rem;
  }

  .left {
    padding: 0px;
    width: auto;
  }

  .thesis {
    padding-bottom: 1.5rem;
    border-bottom: 0px;
  }

  #thesis span {
    display: inline;
  }
}

/*footer*/

footer {
  display: flex;
  padding: 1rem 1.5rem 3.5rem 1.5rem;
}

.footer {
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  footer nav {
    display: none;
  }

  footer {
    padding: 1rem;
  }
}
